<html>
    <title> Room is full</title>
    <body>
        <p id='active_user'></p>
    <script>
       document.getElementById('active_user').innerHTML='Room is full';
    </script>
    </body>
</html>